@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h6,
p {
  margin: 0;
}

.header {
  width: 100%;
}

.select {
  margin: 30px;
  padding: 16px;
  background: #35373a 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
  width: 276px;
  height: 56px;
  font-size: 16px;
  color: #ffffffde;
  letter-spacing: 0.16px;
}

.main {
  display: grid;
  place-items: center;
  gap: 31px 26px;
  grid-template-columns: repeat(auto-fill, minmax(404px, 1fr));
}
